    
      <div class="row">
        <h4>Client Input Form</h4>
        <br>
       
        <form action="#" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">Client ID: </label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Client Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">Address </label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">Mobile No </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">Due Amount </label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">Advance Amount</label>
                </div>
            </div>



            <div class="card-body ui-app__button-demo">
                <a class="waves-effect waves-light btn btn-rounded " style="font-size:20px">SAVE</a>
            </div>

        </form>

    </div>
 
