<div class="row">
  <!-- Analytics Header -->

  <div class="col s12 m6 l3">
      <div class="card ui-app__page-content">
          <div class="card-content ui-app__page-content__analytics">

              <div class="card-body">
                  <div class="ui-app__page-content__analytics--data">
                      <div class="right"><i class="material-icons ">supervised_user_circle</i>
                      </div>
                      <h3 class="headline">{{totalBooks}}</h3>
                      <div class="text-muted">Total Books</div>
                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
      <div class="card ui-app__page-content">
          <div class="card-content ui-app__page-content__analytics">

              <div class="card-body">
                  <div class="ui-app__page-content__analytics--data">
                      <div class="right"><i class="material-icons ">monetization_on</i>
                      </div>
                      <h3 class="headline">{{totalSales}}</h3>
                      <div class="text-muted">Total Sales</div>
                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
      <div class="card ui-app__page-content">
          <div class="card-content ui-app__page-content__analytics ">

              <div class="card-body">
                  <div class="ui-app__page-content__analytics--data">
                      <div class="right"><i class="material-icons ">library_books</i>
                      </div>
                      <h3 class="headline">{{totalClients}}</h3>
                      <div class="text-muted">Total Clients</div>
                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="col s12 m6 l3">
      <div class="card ui-app__page-content">
          <div class="card-content ui-app__page-content__analytics">

              <div class="card-body">
                  <div class="ui-app__page-content__analytics--data">
                      <div class="right"><i class="material-icons ">attach_money</i>
                      </div>
                      <h3 class="headline">{{totalSales}}</h3>
                      <div class="text-muted">Report Generated</div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- End Analytics Header -->

  <!-- sales chart -->

  <!-- sales chart -->

  <!-- Report Table -->

  <!-- Report Table -->

  <!-- Notification report -->


  <!-- Notification report -->


</div>