<div class="row">

  <div class="col s12">
      <div class="card ui-app__page-content">
          <div class="card-content">
              <div class="card-title headline">All Books</div>

              <div class="card-body">

                  <table id="example" class="display" style="width:100%">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Base Price</th>
                              <th>Category</th>
                              <th>Pubkisher</th>
                              <th>Author</th>
                              <th>Publish Year</th>
                              <!-- <th>Image</th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let book of books">
                              <td>{{book.name}}</td>
                              <td>{{book.basePrice}}</td>
                              <td>{{book.categoryId}}</td>
                              <td>{{book.publisher}}</td>
                              <td>{{book.author}}</td>
                              <td>{{book.publicherYear}}</td>
                              <!-- <td><img src="data:image/png;base64,book.image" class="rounded-circle" width="45" height="45"></td> -->
                              <td><a [routerLink]="['/BookEntry/', book.id]">Edit</a></td>
                              
                          </tr>


                      </tbody>
                      <tfoot>

                      </tfoot>
                  </table>

              </div>


          </div>
      </div>
  </div>


</div>



