<p>
  <input 
    #nameSearch
    (keyup)="filterByName(nameSearch.value)"
    type="text" class="form-control" placeholder="Search Book by Name">
</p>
<p>
<label for="id">Search by Category</label>
<select #id="ngModel" [(ngModel)]="category.id" name="id" id="id" (change)="filterbyCategory(category.id)" class="browser-default">
    <option value="">select</option>
    <option *ngFor="let c of categories" [value]="c.id">
        {{ c.categoryName }}
    </option>
</select>
</p>
<div class="row">
    
   
   

    

    <data-table
      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)">
    
      <data-table-column
        [property]="'name'"  
        [header]="'Name'"
        [sortable]="true"
        [resizable]="true"
      ></data-table-column>
      
      <data-table-column
      [property]="'categoryName'"  
      [header]="'Category'"
      [sortable]="true"
      [resizable]="true"
    ></data-table-column>

      <data-table-column 
       [property]="'publisher'" 
       [header]="'Publisher'"
       [sortable]="true" 
       [resizable]="true">
        </data-table-column>
    
      <data-table-column 
      [property]="'publicherYear'" 
      [header]="'PublicherYear'"
      [sortable]="true" 
      [resizable]="true">
    </data-table-column>
    
    <data-table-column 
      [property]="'author'" 
      [header]="'Author'"
      [sortable]="true" 
      [resizable]="true">
    </data-table-column>
    
    <data-table-column 
      [property]="'basePrice'" 
      [header]="'Price'"
      [sortable]="true" 
      [resizable]="true">
    </data-table-column>

      <data-table-column
        [property]="'$key'"  
        [header]="'Action'"
      >
        <ng-template #dataTableCell let-item="item">
          <a  [routerLink]="['/BookEntry/', item.id]">Edit</a>
   
        </ng-template>
      </data-table-column>

    
    </data-table>
    
  </div>




<!-- <div class="row">

  <div class="col s12">
      <div class="card ui-app__page-content">
          <div class="card-content">
              <div class="card-title headline">All Books</div>

              <div class="card-body">

                  <table id="example" class="display" style="width:100%">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Base Price</th>
                              <th>Category</th>
                              <th>Pubkisher</th>
                              <th>Author</th>
                              <th>Publish Year</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let book of books">
                              <td>{{book.name}}</td>
                              <td>{{book.basePrice}}</td>
                              <td>{{book.categoryId}}</td>
                              <td>{{book.publisher}}</td>
                              <td>{{book.author}}</td>
                              <td>{{book.publicherYear}}</td>
                             
                              <td><a [routerLink]="['/BookEntry/', book.id]">Edit</a></td>
                              
                          </tr>


                      </tbody>
                      <tfoot>

                      </tfoot>
                  </table>

              </div>


          </div>
      </div>
  </div>


</div>


 -->
