<div class="row">

  <div class="col s12">
      <div class="card ui-app__page-content">
          <div class="card-content">
              <div class="card-title headline">All Books</div>

              <div class="card-body">

                  <table id="example" class="display" style="width:100%">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Category</th>
                              <th>Pubkisher</th>
                              <th>Author</th>
                              <th>Base Price</th>
                              <th>Image</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>3424</td>
                              <td>System Architect</td>
                              <td>Honours 4th year</td>
                              <td>GIC Publication</td>
                              <td>Elliot</td>
                              <td>340 Tk</td>
                              <td>image</td>
                          </tr>


                      </tbody>
                      <tfoot>

                      </tfoot>
                  </table>

              </div>


          </div>
      </div>
  </div>


</div>



