<!--navbar/header-->
<div class="navbar-fixed">
    <nav class="ui-app__wrapper__navbar">
        <div class="nav-wrapper">

            <!-- //////////////////////////////////////////////////////// -->
            <!-- navbar left side  -->
            <div class="ui-app__wrapper__navbar__leftside--icons">

                <!-- left sidenav toggle button(show and hide sidenav) -->
                <div class="left ui-app__wrapper__navbar__leftside--icons__sidenav--toggle ui-app__wrapper__navbar__leftside--icon__item"
                    data-target="ui-app__left-sidenav-slide-out" id="left-sidenav-toggle">
                    <i class="material-icons">menu</i>
                </div>

                <!-- Efnify app/brand title -->
                <a href="#" class="brand-logo ui-app__wrapper__navbar__leftside--icon__item">University</a>

                <!-- left sidenav toggle button(small and large sidenav) -->
                <div class="ui-app__wrapper__navbar__leftside--icons__sidenav-small--toggle hide-on-med-and-down ui-app__wrapper__navbar__leftside--icon__item"
                    id="left-sidenav-small-toggle">
                    <i class="material-icons">radio_button_checked</i>
                </div>
            </div>
            <!-- End navbar left side  -->
            <!-- ///////////////////////////////////////////////////////////////// -->

            <!--Search box-->
            <!-- ////////////////////////////////////////////////////////////// -->
            <div class="ui-app__wrapper__navbar__leftside__search hide-on-med-and-down">
                <!-- Search form -->
                <form action="#" style="height:45px">
                    <div class="input-field">
                        <!--Search input-->
                        <input #mainSearch
                         (keyup)="filter(mainSearch.value)"
                         id="search" type="search" 
                         placeholder="Search Book"
                         matInput
                        [matAutocomplete]="mainSearch">
                        <!--End Search input-->
                        <!--Search icon-->
                        <label class="label-icon" for="search">
                        <i class="material-icons">search</i></label>
                        <!--End Search icon-->

                        <mat-autocomplete #mainSearch="matAutocomplete">
                                <mat-option *ngFor="let c of filteredBooks" [value]="c.name">
                                    {{c.name}}  {{c.basePrice}} tk
                                  
                               </mat-option>
                         </mat-autocomplete>


                    </div>
                </form>
                <!-- End Search form -->
            </div>
            <!--End Search box-->
            <!-- ////////////////////////////////////////////////////////////////// -->

            <!-- ////////////////////////////////////////////////////////////////// -->
            <!-- navbar right side  -->
            <div class="ui-app__wrapper__navbar__rightside--icons right">
                <!-- navbar menu list -->
                <ul>
                    <!-- full menu demo -->


                    <!-- notification list -->
                    <li class="ui-app__wrapper__navbar__rightside--icons__item ui-app__wrapper__navbar__rightside--notifications"
                        data-target='dropdown-notifications-target'><i class="material-icons">notifications</i></li>


                    <!-- User profile -->


                </ul>
                <!-- full menu dropdown structure -->

                <!-- End full menu dropdown structure -->

                <!-- User profile dropdown structure -->

                <!-- End user profile dropdown structure -->
                <!-- Notifications dropdown structure -->
                <div id="dropdown-notifications-target" class="ui-app__wrapper__navbar__rightside--notifications__dropdown dropdown-content">
                    <ul class="collection">
                        <li class="collection-item avatar"> <img src="../assets/images/user1.jpg" alt="user profile picture"
                                class="circle"> <span class="title">Brunch this weekend?</span>
                            <p>Ali Connors <span class="body-1">&mdash; I'll be in your neighborhood doing
                                    errands this weekend.</span></p>
                        </li>
                        <li class="collection-item avatar"> <img src="../assets/images/user2.jpg" alt="user profile picture"
                                class="circle"> <span class="title">Oui oui</span>
                            <p>Sandra Adams <span class="body-1">&mdash; Do you have Paris recommendations?
                                    Have you ever been?</span></p>
                        </li>
                        <li class="collection-item avatar"> <img src="../assets/images/user3.jpg" alt="user profile picture"
                                class="circle"> <span class="title">Birthday gift</span>
                            <p>Trevor Hansen <span class="body-1">&mdash; Have any ideas about what we
                                    should get Heidi for her birthday?</span></p>
                        </li>
                        <li class="collection-item avatar"> <img src="../assets/images/user4.jpg" alt="user profile picture"
                                class="circle"> <span class="title">Recipe to try</span>
                            <p>Britta Holt <span class="body-1">&mdash; We should eat this: Grate, Squash,
                                    Corn, and tomatillo Tacos.</span></p>
                        </li>
                    </ul>
                </div>
                <!-- End notifications dropdown structure -->

            </div>
            <!-- End navbar left side  -->
            <!-- ////////////////////////////////////////////////////////// -->
        </div>

    </nav>
</div>
<!--End navbar/header-->
<!-- //////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!--Left sidenav/sidebar-->
<aside class="ui-app__left-sidenav sidenav sidenav-fixed" id="ui-app__left-sidenav-slide-out">

    <!-- sidenav menu list -->
    <ul class="no-margin">
        <!-- dashboard menu -->
        <li>
            <a routerLink="/dashboard" class="waves-effect waves-light btn btn-rounded btn-dashboard"><i class="material-icons left"></i>Dashboard</a>
        </li>
        <!--end  dashboard menu -->

        <!-- sidenav main menu list -->
        <li>
            <ul class="ui-app__left-sidenav__menu collapsible collapsible-accordion ui-app__scrollbar">

                <li>
                    <a routerLink="/BookEntry"
                     class="collapsible-header">
                     <i class="material-icons left">                        
                     </i>Book
                        Entry</a>

                </li>
                <li>
                    <a routerLink="/displayBooksInfo" class="collapsible-header">
                        <i class="material-icons left"></i>Books
                        Info</a>

                </li>
                <li>
                    <a routerLink="/categoryInputForm" class="collapsible-header"><i class="material-icons left"></i>Category
                        Entry</a>

                </li>
                <li>
                    <a routerLink="/displayCategoryInfo" class="collapsible-header"><i class="material-icons left"></i>Categories
                        Info</a>

                </li>
                <li>
                    <a routerLink="/clientInputForm" class="collapsible-header"><i class="material-icons left"></i>Client
                        Entry</a>

                </li>
                <li>
                    <a routerLink="/displayClientsInfos" class="collapsible-header"><i class="material-icons left"></i>Client
                        Info</a>

                </li>
                <li>
                    <a routerLink="/billing" class="collapsible-header"><i class="material-icons left"></i>Billing</a>

                </li>
                <li>
                    <a routerLink="/SearchClientReport" class="collapsible-header"><i class="material-icons left"></i>Search
                        Report</a>

                </li>

                <!-- <li>
                      <a class="collapsible-header"><i class="material-icons left">border_all</i>Tables</a>

                  </li>

                  <li>
                      <a  class="collapsible-header"><i class="material-icons left">terrain</i>Pages</a>

                  </li> -->



            </ul>

        </li>
        <!--end sidenav main menu list -->

        <!-- sidenav quick/sub main menu list -->

        <!-- end sidenav quick/sub main menu list -->
    </ul>
    <!-- end sidenav menu list -->
</aside>
<!--End Left sidenav/sidebar-->