    <!--navbar/header-->
    <div class="navbar-fixed">
      <nav class="ui-app__wrapper__navbar">
          <div class="nav-wrapper">

              <!-- //////////////////////////////////////////////////////// -->
              <!-- navbar left side  -->
              <div class="ui-app__wrapper__navbar__leftside--icons">

                  <!-- left sidenav toggle button(show and hide sidenav) -->
                  <div class="left ui-app__wrapper__navbar__leftside--icons__sidenav--toggle ui-app__wrapper__navbar__leftside--icon__item"
                      data-target="ui-app__left-sidenav-slide-out" id="left-sidenav-toggle">
                      <i class="material-icons">menu</i>
                  </div>

                  <!-- Efnify app/brand title -->
                  <a href="dashboard.html" class="brand-logo ui-app__wrapper__navbar__leftside--icon__item">University</a>

                  <!-- left sidenav toggle button(small and large sidenav) -->
                  <div class="ui-app__wrapper__navbar__leftside--icons__sidenav-small--toggle hide-on-med-and-down ui-app__wrapper__navbar__leftside--icon__item"
                      id="left-sidenav-small-toggle">
                      <i class="material-icons">radio_button_checked</i>
                  </div>
              </div>
              <!-- End navbar left side  -->
              <!-- ///////////////////////////////////////////////////////////////// -->

              <!--Search box-->
              <!-- ////////////////////////////////////////////////////////////// -->
              <div class="ui-app__wrapper__navbar__leftside__search hide-on-med-and-down">
                  <!-- Search form -->
                  <form action="#">
                      <div class="input-field">
                          <!--Search input-->
                          <input #query (keyup)="filter(query.value)"  id="search" type="search"  placeholder="Search pages here!">
                          <!--End Search input-->
                          <!--Search icon-->
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <!--End Search icon-->



                      </div>
                  </form>
                  <!-- End Search form -->
              </div>
              <!--End Search box-->
              <!-- ////////////////////////////////////////////////////////////////// -->

              <!-- ////////////////////////////////////////////////////////////////// -->
              <!-- navbar right side  -->
              <div class="ui-app__wrapper__navbar__rightside--icons right">
                  <!-- navbar menu list -->
                  <ul>
                      <!-- full menu demo -->


                      <!-- notification list -->
                      <li class="ui-app__wrapper__navbar__rightside--icons__item ui-app__wrapper__navbar__rightside--notifications notification-badge"
                          data-target='dropdown-notifications-target' data-notifications="4"><i class="material-icons">notifications</i></li>


                      <!-- User profile -->


                  </ul>
                  <!-- full menu dropdown structure -->

                  <!-- End full menu dropdown structure -->

                  <!-- User profile dropdown structure -->

                  <!-- End user profile dropdown structure -->
                  <!-- Notifications dropdown structure -->
                  <div id="dropdown-notifications-target" class="ui-app__wrapper__navbar__rightside--notifications__dropdown dropdown-content">
                      <ul class="collection">
                          <li class="collection-item avatar"> <img src="../assets/images/user1.jpg" alt="user profile picture"
                                  class="circle"> <span class="title">Brunch this weekend?</span>
                              <p>Ali Connors <span class="body-1">&mdash; I'll be in your neighborhood doing
                                      errands this weekend.</span></p>
                          </li>
                          <li class="collection-item avatar"> <img src="../assets/images/user2.jpg" alt="user profile picture"
                                  class="circle"> <span class="title">Oui oui</span>
                              <p>Sandra Adams <span class="body-1">&mdash; Do you have Paris recommendations?
                                      Have you ever been?</span></p>
                          </li>
                          <li class="collection-item avatar"> <img src="../assets/images/user3.jpg" alt="user profile picture"
                                  class="circle"> <span class="title">Birthday gift</span>
                              <p>Trevor Hansen <span class="body-1">&mdash; Have any ideas about what we
                                      should get Heidi for her birthday?</span></p>
                          </li>
                          <li class="collection-item avatar"> <img src="../assets/images/user4.jpg" alt="user profile picture"
                                  class="circle"> <span class="title">Recipe to try</span>
                              <p>Britta Holt <span class="body-1">&mdash; We should eat this: Grate, Squash,
                                      Corn, and tomatillo Tacos.</span></p>
                          </li>
                      </ul>
                  </div>
                  <!-- End notifications dropdown structure -->

              </div>
              <!-- End navbar left side  -->
              <!-- ////////////////////////////////////////////////////////// -->
          </div>

      </nav>
  </div>
  <!--End navbar/header-->
  <!-- //////////////////////////////////////////////////////////////////// -->


  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!--Left sidenav/sidebar-->
  <aside class="ui-app__left-sidenav sidenav sidenav-fixed" id="ui-app__left-sidenav-slide-out">

      <!-- sidenav menu list -->
      <ul class="no-margin">
          <!-- dashboard menu -->
          <li>
              <a routerLink="/dashboard" class="waves-effect waves-light btn btn-rounded btn-dashboard"><i class="material-icons left">dashboard</i>Dashboard</a>
          </li>
          <!--end  dashboard menu -->

          <!-- sidenav main menu list -->
          <li>
              <ul class="ui-app__left-sidenav__menu collapsible collapsible-accordion ui-app__scrollbar">
                  <li>

                      <a class="collapsible-header waves-effect waves-default"><i class="material-icons left">build</i>Material
                          UI<i class="material-icons right">arrow_drop_down</i></a>
                      <div class="collapsible-body">
                          <ul>
                              <li><a href="button.html" class="waves-effect waves-default">Button</a></li>
                              <li><a href="floating-action-button.html" class="waves-effect waves-default">Floating
                                      Action Button</a></li>
                              <li><a href="breadcrumbs.html" class="waves-effect waves-default">Breadcrumbs</a></li>
                              <li><a href="collections.html" class="waves-effect waves-default">Collections</a></li>
                              <li><a href="collapsibles.html" class="waves-effect waves-default">Collapsibles</a></li>
                              <li><a href="dropdown.html" class="waves-effect waves-default">Dropdown</a></li>
                              <li><a href="tabs.html" class="waves-effect waves-default">Tabs</a></li>
                              <li><a href="pagination.html" class="waves-effect waves-default">Pagination</a></li>
                              <li><a href="preloader.html" class="waves-effect waves-default">Preloader</a></li>
                              <li><a href="toasts.html" class="waves-effect waves-default">Toasts</a></li>
                              <li><a href="tooltip.html" class="waves-effect waves-default">Tooltip</a></li>
                              <li><a href="waves.html" class="waves-effect waves-default">Waves</a></li>
                              <li><a href="typography.html" class="waves-effect waves-default">Typography</a></li>
                              <li><a href="icons.html" class="waves-effect waves-default">Icons</a></li>
                              <li><a href="animations.html" class="waves-effect waves-default">Animations</a></li>
                              <li><a href="shadow.html" class="waves-effect waves-default">Shadow</a></li>
                              <li><a href="media.html" class="waves-effect waves-default">Media</a></li>
                              <li><a href="css-transitions.html" class="waves-effect waves-default">CSS
                                      Transitions</a></li>
                              <li><a href="pulse.html" class="waves-effect waves-default">Pulse</a></li>
                              <li><a href="feature-discovery.html" class="waves-effect waves-default">FeatureDiscovery</a></li>
                              <li><a href="media-js.html" class="waves-effect waves-default">Media JavaScript</a></li>

                              <li><a href="cards.html" class="waves-effect waves-default">Cards</a></li>
                              <li><a href="carousel.html" class="waves-effect waves-default">Carousel</a></li>
                              <li><a href="modals.html" class="waves-effect waves-default">Modals</a></li>
                              <li><a href="range-slider.html" class="waves-effect waves-default">Range Slider</a></li>
                              <li><a href="sweetalert.html" class="waves-effect waves-default">SweetAlert</a></li>
                              <li><a href="highlight.html" class="waves-effect waves-default">Highlight</a></li>
                          </ul>
                      </div>
                  </li>
                  <li>
                      <a class="collapsible-header"><i class="material-icons left">insert_chart</i>Charts</a>

                  </li>
                  <li>
                      <a routerLink="/BookEntry" class="collapsible-header"><i class="material-icons left">message</i>Book Entry</a>

                  </li>
                  <li>
                    <a routerLink="/displayBooksInfo" class="collapsible-header"><i class="material-icons left">message</i>Books Info</a>

                </li>
                <li>
                    <a routerLink="/categoryInputForm" class="collapsible-header"><i class="material-icons left">message</i>Category Entry</a>

                </li>
                <li>
                    <a routerLink="/displayCategoryInfo" class="collapsible-header"><i class="material-icons left">message</i>Categories Info</a>

                </li>
                <li>
                    <a routerLink="/clientInputForm" class="collapsible-header"><i class="material-icons left">message</i>Client Entry</a>

                </li>
                <li>
                    <a routerLink="/displayClientsInfos" class="collapsible-header"><i class="material-icons left">message</i>Client Info</a>

                </li>
                <li>
                    <a routerLink="/billing" class="collapsible-header"><i class="material-icons left">message</i>Billing</a>

                </li>
                <li>
                    <a routerLink="/SearchClientReport" class="collapsible-header"><i class="material-icons left">message</i>Search Report</a>

                </li>

                  <!-- <li>
                      <a class="collapsible-header"><i class="material-icons left">border_all</i>Tables</a>

                  </li>

                  <li>
                      <a  class="collapsible-header"><i class="material-icons left">terrain</i>Pages</a>

                  </li> -->

                  <li class="no-menu-list">
                      <a  class="collapsible-header"><i class="material-icons left">grid_on</i>Grid</a>

                  </li>

                  <li class="no-menu-list">
                      <a  class="collapsible-header"><i class="material-icons left">format_color_fill</i>Color</a>
                      <div class="collapsible-body">
                      </div>
                  </li>

                  <li class="no-menu-list">
                      <a  class="collapsible-header"><i class="material-icons left">live_help</i>Helper
                          class</a>
                      <div class="collapsible-body">
                      </div>
                  </li>

              </ul>

          </li>
          <!--end sidenav main menu list -->

          <!-- sidenav quick/sub main menu list -->

          <!-- end sidenav quick/sub main menu list -->
      </ul>
      <!-- end sidenav menu list -->
  </aside>
  <!--End Left sidenav/sidebar-->