<h4>Book Input Form</h4>
<div class="row">
    
    <br>

    <form action="#" class="col s12" enctype="multipart/form-data">
        <div class="row">
            
            <div class="input-field col s6">
                <input #name="ngModel" [(ngModel)]="book.name" placeholder="Book Name" name="name" id="name" type="text" class="validate">
                <div style="color:red" class="validate" *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">Name is required.</div>
                  
                  </div>
            </div>

            <div class="input-field col s6">
                
                <input #basePrice="ngModel" placeholder="Base Price" [(ngModel)]="book.basePrice" name="basePrice" id="basePrice" type="text"
                    class="validate">
                
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input #publisher="ngModel" [(ngModel)]="book.publisher" placeholder="Publisher" name="publisher" id="publisher" type="text"
                    class="validate">
               
            </div>
            <!-- <div class="input-field col s6">
              <input  placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Category </label>
          </div> -->

            <div class="col s6">
                <label for="categoryId">Category</label>
                <select #categoryId="ngModel" [(ngModel)]="book.categoryId" name="categoryId" id="categoryId" class="browser-default">
                    <option value=""></option>
                    <option *ngFor="let c of categories" [value]="c.id">
                        {{ c.categoryName }}
                    </option>
                </select>
                <div style="color:red" class="validate" *ngIf="categoryId.touched && categoryId.invalid">
                    <div *ngIf="categoryId.errors.required">Category is required.</div>
                  
                  </div>
            </div>

            <!-- <div class="col s6">

                <select class="browser-default">
                    <option value="" disabled selected>Select Category</option>
                    <option value="1">Hnrs 1st year</option>
                    <option value="2">Hnrs 3rd year</option>
                    <option value="3">MBA</option>
                </select>


            </div> -->

        </div>

        <div class="row">
            <div class="input-field col s6">
                <input #author="ngModel" [(ngModel)]="book.author" name="author" placeholder="Author" id="author" type="text" class="validate">
                
            </div>
            <div class="input-field col s6">
                <input #publicherYear="ngModel" [(ngModel)]="book.publicherYear" placeholder="Published Year" name="publicherYear" id="publicherYear"
                    type="text" class="validate">
                
            </div>
        </div>

        

        <div class="card-body ui-app__button-demo">
            <a *ngIf="!id&&name.valid&&categoryId.valid" (click)="save(book)" class="waves-effect waves-light btn btn-rounded " style="font-size:20px">SAVE</a>
            <a *ngIf="id" (click)="update(book)" class="waves-effect waves-light btn btn-rounded " style="font-size:20px">Update</a>
            <a *ngIf="id" (click)="delete(id)" class="waves-effect waves-light btn btn-rounded " style="font-size:20px">Delete</a>
         
        </div>
     
          
        <div class="card-body ui-app__button-demo">
         <p>{{Message}}</p>    
        </div>

    </form>


</div>