<div class="row">
  <h4>Book Input Form</h4>
  <br>

  <form action="#" class="col s12">
      <div class="row">
          <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Book ID: </label>
          </div>
          <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Book Name</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Base Price </label>
          </div>
          <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Category </label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Publisher </label>
          </div>
          <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Published Year </label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Author: </label>
          </div>
          <div class="input-field col s6">
              <div class="file-field input-field">
                  <div class="btn">
                      <span>Select Image</span>
                      <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                  </div>
              </div>
          </div>

      </div>

      <div class="card-body ui-app__button-demo">
          <a class="waves-effect waves-light btn btn-rounded " style="font-size:20px">SAVE</a>
      </div>

  </form>


</div>

