
<div class="ui-app">
    <div class="ui-app__wrapper" id="app-layout-control">
         <app-header></app-header>

        <main>
            <div class="row">
                <!-- Analytics Header -->

                <div class="col s12 m6 l3">
                    <div class="card ui-app__page-content">
                        <div class="card-content ui-app__page-content__analytics">

                            <div class="card-body">
                                <div class="ui-app__page-content__analytics--data">
                                    <div class="right"><i class="material-icons ">supervised_user_circle</i>
                                    </div>
                                    <h3 class="headline">678450</h3>
                                    <div class="text-muted">Total Books</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="card ui-app__page-content">
                        <div class="card-content ui-app__page-content__analytics">

                            <div class="card-body">
                                <div class="ui-app__page-content__analytics--data">
                                    <div class="right"><i class="material-icons ">monetization_on</i>
                                    </div>
                                    <h3 class="headline">5698</h3>
                                    <div class="text-muted">Total Sales</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="card ui-app__page-content">
                        <div class="card-content ui-app__page-content__analytics ">

                            <div class="card-body">
                                <div class="ui-app__page-content__analytics--data">
                                    <div class="right"><i class="material-icons ">library_books</i>
                                    </div>
                                    <h3 class="headline">560</h3>
                                    <div class="text-muted">Total Clients</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="card ui-app__page-content">
                        <div class="card-content ui-app__page-content__analytics">

                            <div class="card-body">
                                <div class="ui-app__page-content__analytics--data">
                                    <div class="right"><i class="material-icons ">attach_money</i>
                                    </div>
                                    <h3 class="headline">56980</h3>
                                    <div class="text-muted">Report Generated</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Analytics Header -->

                <!-- sales chart -->

                <!-- sales chart -->

                <!-- Report Table -->

                <!-- Report Table -->

                <!-- Notification report -->


                <!-- Notification report -->


            </div>

            <router-outlet></router-outlet>
 
        </main>

       <app-footer></app-footer>
    
    </div>
   
</div>
