<div class="row">


  <div class="col s12">
      <div class="card ui-app__page-content">
          <div class="card-content">
              <div class="card-title headline">All Clients Info</div>

              <div class="card-body">

                  <table id="example" class="display" style="width:100%">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Mobile</th>
                              <th>Due Amount</th>
                              <th>Advance Amount</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let client of clients">
                              <td>{{client.ClientId}}</td>
                              <td>{{client.name}}</td>
                              <td>{{client.mobile}}</td>
                              <td>{{client.dueAmount}}</td>
                              <td>{{client.advanceAmount}}</td>
                              <td><a [routerLink]="['/clientInputForm/', client.id]">Edit</a></td> 
                              <td> <a (click)="delete(client.id)">Delete</a></td>
                          </tr>


                      </tbody>
                      <tfoot>

                      </tfoot>
                  </table>

              </div>


          </div>
      </div>
  </div>



</div>

