<div class="row">


  <div class="col s12">
      <div class="card ui-app__page-content">
          <div class="card-content">
              <div class="card-title headline">All Category</div>

              <div class="card-body">

                  <table  id="example" class="display" style="width:100%">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Name</th>


                          </tr>
                      </thead>
                      <tbody >
                          <tr *ngFor="let category of categories">
                              <td>{{category.id}}</td>
                              <td>{{category.categoryName}}</td>
                              <td> <a [routerLink]="['/categoryInputForm/', category.id]">Edit</a></td>
                              <td> <a (click)="delete(category.id)">Delete</a></td>
                          </tr>


                      </tbody>
                      <tfoot>

                      </tfoot>
                  </table>

              </div>


          </div>
      </div>
  </div>

</div>

